@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color1: #B5DDFF;
    --secondary-color1: #0084FD;
    --main-color2:#9792E4;
    --secondary-color2: #FFF;
}

/* COMMONS */

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
    border-radius: 15px;
}

.sub-container {
    margin: 0 auto;
}


.flex-div {
    display: flex;
}


.jc-sb {
    justify-content: space-between;
}

.ai-ce {
    align-items: center;
}


.btn-shape {
    border-radius: 15px;
    padding: 10px 20px;
    margin: 100px 0px;
}

.no-line {
    text-decoration: none;
}


/* BACKGROUND COLORS */
.bgc-1 {
    background-color: var(--main-color2);
}

.bgc-2 {
    background-color: var(--secondary-color2);
}

.bgc-3 {
    background-color: var(--secondary-color1);
}

.bgc-4 {
    background-color: var(--main-color1);
}

/* TEXT COLORS */
.txc-1 {
    color: #FFF;
}

.txc-2 {
    color: #000;
}

.txc-3 {
    color: var(--secondary-color1);
}

.txc-4 {
    color: var(--main-color2);
}

.txc-5 {
    color: #FDC15F;
}



/* TEXT FORMATTING */

p {
    margin: 30px 0px;
    line-height: 28px;
}


h1 {
    margin: 30px 0px;
    font-weight: 700;
    font-size: 48px;
}

h2 {
    margin: 30px 0px;
    font-weight: 700;
    font-size: 36px;
}

h3 {
    margin: 30px 0px;
    font-weight: 700;
    font-size: 24px;
}

.txt-c {
    text-align: center;
}

.txt-l {
    text-align: left;
}


/* HEADER */
.head {
    height: 50px;
    background-color: var(--secondary-color1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.head > .container {
    height: 100%;
}

.head img {
    height: 35px;
}

nav {
    display: none;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0px 5px;

}
nav a {
    text-decoration: none;
    padding: 0px 5px;

}


/* MAIN */

main {
    margin-top: 40px;
}

section {
    padding: 40px 0px 40px 0px;
}

/* FEATURES */

#features > .container {
    flex-direction: column;
}

.card {
    margin: 20px auto;
    padding: 30px;
    border-radius: 20px;
}

.card.wide {
    flex-direction: column;
    padding-bottom: 0px;
}

.wide img {
    margin-top: 40px;
    max-width: 230px;
}

.card-ico {
    font-size: 72px;
    color: var(--secondary-color1);
}



/* PLANNINGS */

#plannings img {
    width: 100%;
    margin-bottom: 40px;
}

#plannings .container {
    flex-direction: column;
}

.circle {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding: 10px 15px;
}

/* TESTIMONIALS */

#testimonial .card {
    flex-direction: column;
    align-items: center;
}


#testimonial img {
    /* TODO Sistemare per rendere dinamica */
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.big-txt {
    font-size: 18px;
}

/* BENEFITS */
#benefits {
    text-align: center;
}

#benefits > .container {
    flex-direction: column;
}

/* ABOUT US */
#about-us > .container {
    flex-direction: column;
}

.about-img {
    border-radius: 100%;
    background-image: url(../img/about.jpg);
    background-size: cover;
    /* TODO Sistemare per rendere dinamica */
    width: 200px;
    height: 200px;
    position: relative;
}

.relative-txt {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 72px;
    margin: 0px;
}


/* GET STARTED */
#get-started > .container {
    text-align: center;
}


/* FOOTER */

footer {
    background-color: black;
    color: white;
    padding: 20px 0px;
    text-align: center;
}




/* MEDIA QUERY | TABLET */
@media all and (min-width: 768px){

    #features > .container, #benefits > .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #features .card {
        margin: 15px;
        width: calc((100% - 15px * 2 * 3) / 3);
    }

    #benefits .card {
        margin: 15px;
        width: calc((100% - 15px * 2 * 2) / 2);
    }

    #features .card.wide {
        width: calc((100% - 15px * 2 * 3) / 1.5 + 30px);
    }

    #testimonial .card {
        flex-direction: row;
        align-items: center;
    }

    #testimonial .card > div {
        margin-left: 20px;
        text-align: left;
    }

    #about-us > .container {
        flex-direction: row;
    }

    #about-us .left-col {
        width: 60%;
        margin-right: 20px;
    }

    #about-us .right-col {
        width: 35%;
    }

    #get-started > .container {
        width: 60%;
        max-width: 500px;
    }

}

/* MEDIA QUERY | DESKTOP */
@media all and (min-width: 992px){

    .hamburger {
        display: none;
    }

    nav {
        display: block;
    }

    .card.wide {
        flex-direction: row;
    }

    .wide > div {
        width: 50%;
    }

    .wide > img {
        margin-left: 40px;
    }


    #benefits .card {
        width: calc((100% - 15px * 2 * 3) / 3);
    }

    #plannings .container {
        flex-direction: row;
    }


    #plannings .card {
        align-self: flex-end;
    }


}